@import url("https://fonts.googleapis.com/css2?family=Delius&family=Architects+Daughter&family=East+Sea+Dokdo&family=Open+Sans:wght@300;400;700&family=Roboto:ital,wght@0,300;0,400;0,700;1,300&display=swap");
/* ---------------------------------------- */

:root {
  --font-roboto: "Roboto", sans-serif;
  --font-open: "Open Sans", sans-serif;
  --font-arch-cursive: "Architects Daughter", cursive;
  --font-east-cursive: "East Sea Dokdo", cursive;
  --font-hand-cursive: "Delius", cursive;
}
/* -------------------------------------- */

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: var(--font-open);
  color: var(--color-black);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  list-style: none;
}

/* ---------------------------- */

.section {
  padding: 7rem 1.5rem;
}

.common-title {
  text-align: center;
  font-family: var(--font-arch-cursive);
  font-size: 3.5rem;
}

.homepage-title {
  position: relative;
  text-align: center;
  font-family: var(--font-arch-cursive);
  font-size: 3.5rem;
  margin-bottom: 6rem;
}

.homepage-title::after {
  position: absolute;
  content: "";
  bottom: -2.5rem;
  width: 8rem;
  height: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 5px dotted #d7d9f1;
  border-width: 0 0 5px 0;
}

.common-spinner-container {
  padding: 5rem 0;
  display: block;
  text-align: center;
}

.common-spinner {
  height: 4rem;
  width: 4rem;
}

.font-cursive {
  font-family: var(--font-arch-cursive);
}
